// $primary-color: rgb(255, 235, 253);
$primary-color: #e7e5e7;
$dark-text: rgb(22, 22, 22);
// $main-font: "Times New Roman", Times, serif;
$main-font: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
