.question-section {
  padding: 0 15px 15px;
  > div {
    border: 1px black solid;
  }
  div {
    background-color: rgb(250, 242, 249);

    border-radius: 5px;
    margin: 10px 0px;
    h3 {
      font-weight: 550;
      font-size: 1.2rem;
      line-height: 1.4rem;
    }
    div {
      background-color: rgba(255, 105, 180, 0);
      margin-top: 10px;
      div {
        height: 20px;
        display: flex;
        align-items: center;
        padding: 5px;
      }
      label {
        margin-left: 12px;
      }
      input:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
      label:hover {
        cursor: pointer;
      }
    }
  }
}
div:first-child {
  margin-top: 0px;
}
div:last-child {
  margin-bottom: 0px;
}

.show-score {
  margin-left: 15px;
  margin-bottom: 15px;
  span {
    color: hotpink;
    font-weight: 600;
  }
}

#try-again,
#check-answers {
  margin: 0 0 15px 15px;
}
.answer-container {
  width: fit-content;
}
