button {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#next-step-container {
  display: flex;
}

fieldset {
  padding: 5px 20px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 15px;
}

.question-section > div {
  padding: 10px;
}

header {
  margin-bottom: 15px;
}

header h1 {
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 30px 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  font-size: 2.5em;
}

header h1 span {
  color: hotpink;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 2.5rem;
}

.question-section {
  padding: 0 15px 15px;
}

.question-section > div {
  border: 1px black solid;
}

.question-section div {
  background-color: #fcfcfc;
  border-radius: 5px;
  margin: 10px 0px;
}

.question-section div h3 {
  font-weight: 550;
  font-size: 1.2rem;
  line-height: 1.3rem;
}

.question-section div div {
  background-color: rgba(255, 105, 180, 0);
  margin-top: 10px;
}

.question-section div div div {
  height: 20px;
  display: flex;
  align-items: center;
  padding: 5px;
}

.question-section div div label {
  margin-left: 12px;
}

.question-section div div input:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.question-section div div label:hover {
  cursor: pointer;
}

div:first-child {
  margin-top: 0px;
}

div:last-child {
  margin-bottom: 0px;
}

.show-score {
  margin-left: 15px;
  margin-bottom: 15px;
}

.show-score span {
  color: hotpink;
  font-weight: 600;
}

#try-again,
#check-answers {
  margin: 0 0 15px 15px;
}

.answer-container {
  width: fit-content;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #d5d4d4;
  font-size: 14px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
