* {
  /* outline: 1px hotpink solid; */
}
fieldset {
  height: 200px;
}

.set-up {
  height: 50px;
}

.question-section > div {
  outline: hotpink 1px solid;
  padding: 10px;
}
#try-again {
  display: none;
}
#check-answers {
  display: none;
}
